In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("./lung_cancer_data.csv")
df

,Patient_ID,Age,Gender,Smoking_History,Tumor_Size_mm,Tumor_Location,Stage,Treatment,Survival_Months,Ethnicity,...,Alanine_Aminotransferase_Level,Aspartate_Aminotransferase_Level,Creatinine_Level,LDH_Level,Calcium_Level,Phosphorus_Level,Glucose_Level,Potassium_Level,Sodium_Level,Smoking_Pack_Years
0,Patient0000,68,Male,Current Smoker,81.678677,Lower Lobe,Stage III,Surgery,44,Hispanic,...,27.985571,46.801214,1.245849,239.240255,10.366307,3.547734,113.919243,4.968163,139.822861,17.006956
1,Patient0001,58,Male,Never Smoked,78.448272,Lower Lobe,Stage I,Radiation Therapy,101,Caucasian,...,30.120956,39.711531,1.463231,233.515237,10.081731,2.945020,101.321578,3.896795,135.449361,93.270893
2,Patient0002,44,Male,Former Smoker,67.714305,Lower Lobe,Stage I,Chemotherapy,69,African American,...,5.882418,32.640602,0.630109,169.037460,8.660892,4.637399,78.214177,4.369050,143.377155,70.348376
3,Patient0003,72,Male,Current Smoker,70.806008,Lower Lobe,Stage III,Chemotherapy,95,African American,...,38.908154,44.319393,0.594342,213.967590,8.832669,3.617098,127.895361,4.348474,138.586005,19.828128
4,Patient0004,37,Female,Never Smoked,87.272433,Lower Lobe,Stage IV,Radiation Therapy,105,Asian,...,26.344877,15.746906,1.478239,118.187543,9.247609,4.773255,148.801185,3.671976,141.230724,81.047456
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23653,Patient23653,45,Male,Former Smoker,91.279410,Middle Lobe,Stage I,Chemotherapy,16,Caucasian,...,21.218709,37.642878,1.469665,203.209056,9.011784,3.083901,121.588210,3.874261,138.004367,8.877173
23654,Patient23654,31,Male,Current Smoker,45.139048,Upper Lobe,Stage IV,Radiation Therapy,81,Asian,...,6.439687,45.747460,1.432533,245.095566,10.192073,4.571803,129.748104,4.635774,137.883562,33.573249
23655,Patient23655,74,Male,Former Smoker,89.640323,Upper Lobe,Stage IV,Chemotherapy,52,Asian,...,6.974531,20.982553,0.855960,214.793918,9.617543,4.877552,129.414306,3.730363,138.813953,26.893648
23656,Patient23656,47,Female,Former Smoker,45.770358,Middle Lobe,Stage I,Radiation Therapy,26,African American,...,21.817365,43.457246,0.824516,138.947588,8.239170,2.885529,127.647028,3.799932,139.706111,26.387602
23657,Patient23657,64,Male,Former Smoker,13.460912,Upper Lobe,Stage I,Chemotherapy,1,Other,...,13.473113,37.588167,0.652503,166.011540,9.467378,3.432123,114.734285,4.688588,135.223702,37.972540

In [4]:
df = df[['Stage', 'Survival_Months']]
df

           Stage  Survival_Months
0      Stage III               44
1        Stage I              101
2        Stage I               69
3      Stage III               95
4       Stage IV              105
...          ...              ...
23653    Stage I               16
23654   Stage IV               81
23655   Stage IV               52
23656    Stage I               26
23657    Stage I                1

[23658 rows x 2 columns]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23658 entries, 0 to 23657
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Stage            23658 non-null  object
 1   Survival_Months  23658 non-null  int64
dtypes: int64(1), object(1)
memory usage: 369.8+ KB

In [6]:
df.isnull().sum()

Stage              0
Survival_Months    0
dtype: int64

In [7]:
df["Stage"]=="Stage I"

0        False
1         True
2         True
3        False
4        False
         ...
23653     True
23654    False
23655    False
23656     True
23657     True
Name: Stage, Length: 23658, dtype: bool

In [9]:
Stage_I = df[df["Stage"]=="Stage I"]
Stage_I
Stage_I.reset_index()

      index    Stage  Survival_Months
0         1  Stage I              101
1         2  Stage I               69
2         5  Stage I               49
3         6  Stage I               63
4         8  Stage I               35
...     ...      ...              ...
5900  23640  Stage I               74
5901  23647  Stage I               70
5902  23653  Stage I               16
5903  23656  Stage I               26
5904  23657  Stage I                1

[5905 rows x 3 columns]

In [11]:
df["Stage"]=="Stage II"

0        False
1        False
2        False
3        False
4        False
         ...
23653    False
23654    False
23655    False
23656    False
23657    False
Name: Stage, Length: 23658, dtype: bool

In [12]:
Stage_II = df[df["Stage"]=="Stage II"]
Stage_II
Stage_II.reset_index()

      index     Stage  Survival_Months
0        18  Stage II               59
1        19  Stage II                3
2        32  Stage II               27
3        41  Stage II               23
4        52  Stage II               84
...     ...       ...              ...
5815  23617  Stage II               65
5816  23629  Stage II               78
5817  23650  Stage II               24
5818  23651  Stage II               95
5819  23652  Stage II              100

[5820 rows x 3 columns]

In [32]:
df["Smoking_History"]=="Former Smoker"

0        False
1        False
2         True
3        False
4        False
         ...
23653     True
23654    False
23655     True
23656     True
23657     True
Name: Smoking_History, Length: 23658, dtype: bool

In [33]:
Former_df = df[df["Smoking_History"]=="Former Smoker"]
Former_df
Former_df.reset_index()

      index Smoking_History  Survival_Months
0         2   Former Smoker               69
1         8   Former Smoker               35
2        13   Former Smoker              100
3        17   Former Smoker              115
4        21   Former Smoker               40
...     ...             ...              ...
7993  23652   Former Smoker              100
7994  23653   Former Smoker               16
7995  23655   Former Smoker               52
7996  23656   Former Smoker               26
7997  23657   Former Smoker                1

[7998 rows x 3 columns]

In [10]:
Stage_I["Survival_Months"].mean()

59.58983911939035

In [13]:
Stage_II["Survival_Months"].mean()

59.9106529209622

In [42]:
Former_df["Survival_Months"].mean()

59.7491872968242